<!DOCTYPE html>
<html>
<head>
  <title>About Us</title>
  <!-- About Us page style -->
  <link rel="stylesheet" type="text/css" href="../static/about.css">
  <!-- Bootstrap stylesheet CDN -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">  
        <div class="container"> 
            <a class="navbar-brand" href="/">Blood Bank</a>
            <!-- Hamburger Toggle Button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>
<div class="ct-pageWrapper" id="ct-js-wrapper">
  <section class="company-heading intro-type" id="parallax-one">
    <div class="container">
      <div class="row product-title-info">
        <div class="col-md-12">
          <h1>About Us</h1>
        </div>
      </div>
    </div>
    <div class="parallax" id="parallax-cta" style="background-image:url(../static/cassi-josh-lhnOvu72BM8-unsplash.jpg)"></div>
  </section>
  <section class="story-section company-sections ct-u-paddingBoth100 paddingBothHalf noTopMobilePadding" id="section">
    <div class="container text-center">
      <h2>WHO ARE WE</h2>
      <h3>PESU's College Blood Bank</h3>
        <div class="red-border"></div>
          <p class="ct-u-size22 ct-u-fontWeight300 marginTop40">PESU Blood Bank(PBB) is a not-for-profit organization of the PES University </p> 
          <p class="ct-u-size22 ct-u-fontWeight300 marginTop40">We have been providing Blood banking & Transfusion services to hospitals & patients in Bangalore and surrounding districts since 2019 </p>
          <p class="ct-u-size22 ct-u-fontWeight300 marginTop40">From a small blood bank started at PESU to become one of the leading blood bank set up in a college </p>
    </div>
  </section>
s
</div>
</section>
</body>
</html>