
{% extends 'layout.html' %}

{% block title %}Project Results{% endblock %}

{% block content %}
<h2>Blood Information</h2>
<div>
    <p> Details are as below:</p>
    <table>
        <tr>
            <td>ID</td>
            <td>{{ row['id'] }}</td>
        </tr>
        <tr>
            <td>Blood Type</td>
            <td>{{ row['blood_type'] }}</td>
        </tr>
        <tr>
            <td>Amount in Blood Bank</td>
            <td>{{ row['total_amount'] }}</td>
        </tr>
    </table>
</div>
{% endblock %}